.CommentItem {
    /* height: 33vh; */
    width: 25vw;
    max-width: 25vw;
    margin: 10px;
}
.card {
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px #31C5D7;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 10px;
    color: black;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 45vh;
}

.icon{
    font-size: 60px;
    position: relative;
    top: -30px;
    left: 85%;
}
